{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="row text-center">
  <div class="small-12 large-12 columns">
    <br>
    <h4>Here are some events happening near there. Pick one!</h4>
    <div class="panel">
      <table class="centered">
	<thead>
	  <tr>
	    <th>Event Name</th>
	    <th>Location</th>
	    <th>Telephone</th>
	    <th>More Info</th>
	  </tr>
	</thead>
	<tbody>
	  {% for event in events %}
	  <a href="http://www.google.com">
	  <tr>
	    <td><a href='/planner/?event={{event.id}}'>{{event.name}}</a></td>
	    <td>{{event.location}}</td>
	    <td>{{event.phone_number}}</td>
	    <td><a href='{{event.link}}' target='_blank'>More Info</a></td>
	  </tr>
	  </a>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    <a href="/start_over/" class="button">Start Over</a>
  </div>
</div>
{% endblock %}
