{% extends "base.html" %}

{% block title %}Finalize my Event{% endblock %}
<style>
  .less_margin {
  margin-top: -10px;
  }
</style>
{% block body %}
{% include "navbar.html" %}
<div class="row" style="padding-top:30px;">
  <div class="small-12 large-6 columns">
    <div class="panel">
      <br>
      <h4>Here's your agenda:</h4>
      <br>
      {% if location %}
      <p><strong>First Stop: <a href='{{location.website}}' target="_blank">{{location.name}}</a></strong></p>
      <p style="margin-top:-15px;">{{location.address}}</p>
      {% endif %}
      {% if event %}
      <p><strong>Second Stop: <a href='{{event.link}}' target="_blank">{{event.name}}</a></strong></p>
      <p style="margin-top: -15px;">{{event.street_address}}</p>
      {% endif %}
      {% if restaurant %}
      <p><strong>Third Stop: <a href='{{restaurant.website}}' target="_blank">{{restaurant.name}}</a></strong></p>
      <p style="margin-top:-15px;">{{restaurant.address}}</p>
      {% endif %}
      <div>
	<a href="/create_event/" class="button" style="margin-left: auto; margin-right:auto;">Create my Event</a>
      </div>
      <a href="/start_over/">Or click here to start over</a>
    </div>
  </div>
  <div class="small-12 large-6 columns">
    <img style="display:block; margin: 0 auto; padding-top:10px;" src='{{map}}'/>
  </div>
</div>
{% endblock %}
