{% extends "base.html" %}

{% block title %}Welcome | PlanMyNY{% endblock %}

{% block body %}
<div class="row">
  <div class="large-6 columns">
    <h1>Welcome to PlanMyNY</h1>
  </div>
  <div class="large-6 columns">
    <h1><a href='{{fb_url}}'>Login with Facebook</a></h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <ul class="example-orbit" data-orbit>
	{% for place in places %}<li>
	  <a href='{{place.website}}' target="_blank"><img src='{{place.photo}}' class="centered" /></a>
	  <div class="orbit-caption">
	    {{place.name}}
	    {{place.address}}
	  </div>
	</li>{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
