{% extends "base.html" %}

{% block title %}Welcome | PlanMyNY{% endblock %}

{% block body %}
<div class="row">
  <div class="large-6 columns">
    <h1>Welcome to PlanMyNY</h1>
  </div>
  <div class="large-6 columns">
    <h1><a href='{{fb_url}}'>Login with Facebook</a></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <div class="panel">
      <ul class="example-orbit" data-orbit>
	{% for place in places %}<li>
	  <a href='{{place.website}}' target="_blank"><img src='{{place.photo}}' class="centered" /></a>
	  <div class="orbit-caption">
	    {{place.name}}
	    {{place.address}}
	  </div>
	</li>{% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="small-12 large-12 columns">
    <h3>The city is a big place. Let us connect you with it.</h3>
    <div class="small-12 large-4 columns">
      <h4>Browse Locations and Events</h4> 
    </div>
    <div class="small-12 large-4 columns">
      <h4>Pick your Favorites</h4>
    </div>
    <div class="small-12 large-4 columns">
      <h4>Invite your Friends</h4>
    </div>
  </div>
</div>
{% endblock %}
