{% extends "base.html" %}

{% block title %}Welcome | PlanMyNY{% endblock %}

{% block body %}
<div class="row">
  <div class="large-6 columns">
    <h1>Welcome to PlanMyNY</h1>
  </div>
  <div class="large-6 columns">
    <h1><a href='{{fb_url}}'>Login with Facebook</a></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns">
    <div class="panel">
      <ul class="example-orbit" data-orbit>
	{% for place in places %}<li>
	  <a href='{{place.website}}' target="_blank"><img src='{{place.photo}}' class="centered" /></a>
	  <div class="orbit-caption">
	    {{place.name}}
	    {{place.address}}
	  </div>
	</li>{% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="small-12 large-12 columns">
    <h3>Don't Struggle to Find Things to Do Tonight</h3>
    <h3><a href='{{fb_url}}'>Let Us Plan For You</a></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns panel">
    <h4>Step 1: Give Us Some Info</h4>
    <p>Just tell us the size of your group, the time you want to be out, and your budget for the night. If you like a particular part of the city, add that in too!</p>
    <p>You can even customize your profile to tell us what types of food you like, your favorite kinds of music, and more, so we can better tailor your plan.</p>
  </div>
  <div class="small-12 large-6 columns">
    <img src="/static/friends.jpg" style="margin-left: auto; margin-right: auto; display: block; padding-top:5px;" width="50%"/>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <img src="/static/agenda.jpg" style="margin-left: auto; margin-right: auto; display: block;" width="50%"/>
  </div>
  <div class="small-12 large-6 columns panel">
    <h4>Step 2: Pick an Agenda</h4>
    <p>We'll provide you with three distinct options for the night. Pick your favorite events and activities from the list. Don't worry, they're all within walking distance of each other.</p>
    <p>Select an option and let us take care of the reservations, tickets, and directions. Just get to the subway stop, and the rest is on us.</p>
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns panel">
    <h4>Step 3: Invite your Friends</h4>
    <p>Create a Facebook event and invite all your friends so everyone has the details. Simply plan where to meet with your friends, and that's all you need to worry about.</p>
    <p>Then simply follow the agenda we have created for you, enjoy your night, and tell us about it when you're done!</p>
  </div>
  <div class="small-12 large-6 columns">
    <img src="/static/night.jpg" style="margin-left: auto; margin-right: auto; display: block;" width="50%"/>
  </div>
</div>
<p style="text-align:center; padding-top: 20px;">This site was created by Matt Piccolella at Columbia University's DevFest 2014. It is a work in progress.</p>
{% endblock %}
