{% extends "base.html" %}

{% block title %}Plan my Event{% endblock %}
{% block body %}

{% include "navbar.html" %}

<div class="row text-center">
  <div class="small-12 large-12 columns">
    <br>
    <h4>Let's plan a trip! Pick a location or "Refresh" for more options.</h4>
    <br>
    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3">
      {% for loc in locations %}
      <li class="centered">
	<a href='/planner/?loc={{loc.reference}}'><img src='{{loc.photo}}'/></a>
	<p>{{loc.name}}, {{loc.address}}</p>
	<a href='{{loc.website}}' target="_blank">Learn More</a>
      </li>
      {% endfor %}
    </ul>
    <a href="/planner/" class="button">More Options</a>
    <a href="/start_over/" class="button">Start Over</a>
  </div>
</div>
{% endblock %}
