<nav class="top-bar" data-topbar>
      <ul class="title-area">
	<li class="name">
	  <h1><a href="/profile/">PlanMyNY</a></h1>
	</li>
	<li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
      </ul>
      <section class="top-bar-section">
	<ul class="right">
          <li class="has-form">
            <a href="#" class="button">My Dashboard</a>
          </li>
	  <li class="name">
            <a href="#">How It Works</a>
          </li>
	  <li class="divider"></li>
	  <li class="has-dropdown">
	    <a href="#"><img src='http://graph.facebook.com/{{facebook_id}}/picture?height=15&width=15'style="padding-right:10px;"/>{{first_name}} {{last_name}}</a>
	    <ul class="dropdown">
	      <li><a href="/logout/">Logout</a></li>
	    </ul>
	  </li>
	</ul>
      </section>
    </nav>
